# Yfin - A blazing fast python wrapper for the Yahoo Fincance API

Yfin is yet another python wrapper for the Yahoo Finance API. 

By using asyncronous coroutines the http requests, are performed in parallel und therefore downloading data is blazing fast. Additionally, to avoid yahoo finance rate limiting, you can use random proxies. 

For every function an async version is available. e.g. for downloading hisorical data there is the function `history` and `history_async`.

In [3]:
import datetime as dt
import pandas as pd

# Use nest_asyncio, when you are in a jupyter notebook/lab
import nest_asyncio
nest_asyncio.apply()

## 1. Hisorical OHLCV data

Historical data can be downloaded for in several symbols in parallel. The number of symbols is limited to around 1000 if you do not use random proxies.

The time range can be set by using the parameters `start` and `end`. Both are timestamps, which can be defined as a string (e.g. `'2022-01-01'` or `'20220101'`) or a `datetime` object (e.g. `datetime.datetime(2022,1,1)`). If `end=None`, today is used as the end timestamp. 

Instead of using `start` and  `end`, one can also provide the timerange with the parameter  `period`. Valid optionsare  `1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, 25y, ytd, max`.

The parameter `freq` defines the interval between two data points. Valid options are `1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo`.

In [2]:
from yfin.history import history, history_async

# list of symbols can be of any size. Any valid yahoo symbol is supported. Symbols are available for this types: 
# equity, etf, mutualfund, futures, currency, cryptocurrency, index

symbols = ["AAPL", "SF.ST", "DAX", "EUR=X", "BTC-USD", "HOH25.NYM", "0P00000WCP", "^SPX"] 

# sync function. wraps the async function called with asyncio.run
data = history(symbols=symbols, start=dt.datetime(2022,1,1), end=dt.datetime.now(), freq="1d")

# async function
data = await history_async(symbols=symbols, start='20220101', end=None, freq="1d")

100%|██████████| 8/8 [00:00<00:00, 32.25it/s]
100%|██████████| 8/8 [00:00<00:00, 33.99it/s]

In [3]:
data

,symbol,time,low,high,close,open,volume,adjclose,splitRatio,amount
0,SF.ST,2022-01-03,48.299999,52.750000,52.099998,48.320000,2744466.0,52.099998,0,0.0
1,SF.ST,2022-01-04,50.400002,53.349998,50.500000,52.500000,1609886.0,50.500000,0,0.0
2,SF.ST,2022-01-05,50.200001,51.950001,51.799999,50.799999,785902.0,51.799999,0,0.0
3,SF.ST,2022-01-07,47.740002,51.000000,49.000000,50.950001,3039075.0,49.000000,0,0.0
4,SF.ST,2022-01-10,47.459999,51.250000,49.619999,49.320000,2324365.0,49.619999,0,0.0
...,...,...,...,...,...,...,...,...,...,...
2207,AAPL,2023-03-08,151.830002,153.470001,152.869995,152.809998,47204800.0,152.869995,0,0.0
2208,AAPL,2023-03-09,150.229996,154.539993,150.589996,153.559998,53833600.0,150.589996,0,0.0
2209,AAPL,2023-03-10,147.610001,150.940002,148.500000,150.210007,68524400.0,148.500000,0,0.0
2210,AAPL,2023-03-13,147.699997,153.139999,150.470001,147.809998,84457100.0,150.470001,0,0.0
2211,AAPL,2023-03-14,150.100006,153.399994,152.589996,151.279999,73547542.0,152.589996,0,0.0

## 2. Quote Summary

The python class `QuoteSummary` is used to get all the data available on yahoo finance for a specific financial asset. Most of the following properties are only valid for symbols of type equity (stocks).

Following properties are available:

 - assetProfile
 - balanceSheetHistory
 - balanceSheetHistoryQuarterly
 - calendarEvents
 - cashflowStatementHistory
 - cashflowStatementHistoryQuarterly
 - defaultKeyStatistics
 - earnings
 - earningsHistory
 - earningsTrend
 - esgScores
 - financialData
 - fundOwnership
 - fundPerformance
 - fundProfile
 - indexTrend
 - incomeStatementHistory
 - incomeStatementHistoryQuarterly
 - industryTrend
 - insiderHolders
 - insiderTransactions
 - institutionOwnership
 - majorHoldersBreakdown
 - pageViews
 - price
 - quoteType
 - recommendationTrend
 - secFilings
 - netSharePurchaseActivity
 - sectorTrend
 - summaryDetail
 - summaryProfile
 - topHoldings
 - upgradeDowngradeHistory

In [4]:
from yfin.quote_summary import QuoteSummary

qs = QuoteSummary(symbols=["AAPL", "NET", "VOW.DE", "SF.ST"])

In [6]:
pd.DataFrame(qs.summary_profile)

100%|██████████| 4/4 [00:00<00:00, 29.12it/s]

,AAPL,SF.ST,VOW.DE,NET
address1,One Apple Park Way,Kungsgatan 38,Berliner Ring 2,101 Townsend Street
city,Cupertino,Stockholm,Wolfsburg,San Francisco
company_officers,[],[],[],[]
country,United States,Sweden,Germany,United States
fax,NaN,NaN,49 5361 9 28282,NaN
full_time_employees,164000,1589,645868,3217
industry,Consumer Electronics,Electronic Gaming & Multimedia,Auto Manufacturers,Software—Infrastructure
long_business_summary,"Apple Inc. designs, manufactures, and markets ...","Stillfront Group AB (publ), through its subsid...",Volkswagen AG manufactures and sells automobil...,"CloudFlare, Inc. operates as a cloud services ..."
phone,408 996 1010,46 8 10 60 01,49 5361 9 0,888 993 5273
sector,Technology,Communication Services,Consumer Cyclical,Technology
state,CA,NaN,NaN,CA
website,https://www.apple.com,https://www.stillfront.com,https://www.volkswagenag.com,https://www.cloudflare.com
zip,95014,111 35,38440,94107

In [10]:
pd.concat(qs.default_key_statistics).unstack()

,price_hint,enterprise_value,forward_pe,profit_margins,float_shares,shares_outstanding,shares_short,shares_short_prior_month,shares_short_previous_month_date,date_short_interest,...,last_split_factor,last_split_date,enterprise_to_revenue,enterprise_to_ebitda,52_week_change,sand_p52_week_change,last_dividend_value,last_dividend_date,last_cap_gain,annual_holdings_turnover
AAPL,2,2409313861632,23.119698,0.24558,15805174737,15821899776,110773312,115480341,2023-01-31 00:00:00,2023-02-28 00:00:00,...,4:1,2020-08-31 00:00:00,6.217,19.23,-0.029789,-0.095412,0.23,2023-02-10 00:00:00,None,None
SF.ST,2,13725109248,6.47351,0.07264,457963797,513199008,None,None,None,None,...,10:1,2020-12-23 00:00:00,1.784,6.615,-0.326033,-0.095412,None,None,None,None
VOW.DE,2.0,260379344896.0,4.135348,0.063,234811714.0,295089984.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.977,8.612,-0.188451,-0.095412,8.7,2023-05-15 00:00:00,NaN,NaN
NET,2.0,17341870080.0,219.2,-0.19829,284343461.0,286972992.0,22222017.0,22586107.0,2023-01-31 00:00:00,2023-02-28 00:00:00,...,NaN,NaN,17.782,-150.64,-0.35711,-0.095412,NaN,NaN,NaN,NaN

In [15]:
pd.concat(qs.income_statement_history)

           end_date  total_revenue  cost_of_revenue  gross_profit  \
AAPL   0 2022-09-24   394328000000     223546000000  170782000000
       1 2021-09-25   365817000000     212981000000  152836000000
       2 2020-09-26   274515000000     169559000000  104956000000
       3 2019-09-28   260174000000     161782000000   98392000000
SF.ST  0 2022-12-31     7695000000       2193000000    5502000000
       1 2021-12-31     5934000000       3016000000    2918000000
       2 2020-12-31     4329000000       2160000000    2169000000
       3 2019-12-31     2170000000       1076000000    1094000000
VOW.DE 0 2021-12-31   250200000000     205681000000   44519000000
       1 2020-12-31   222884000000     186089000000   36795000000
       2 2019-12-31   252632000000     206400000000   46232000000
       3 2018-12-31   235849000000     191462000000   44387000000
NET    0 2022-12-31      975241000        232610000     742631000
       1 2021-12-31      656426000        147134000     509292000
       2 2020-12-31      431059000        101055000     330004000
       3 2019-12-31      287022000         63423000     223599000

          research_development  selling_general_administrative  non_recurring  \
AAPL   0          2.625100e+10                     25094000000            NaN
       1          2.191400e+10                     21973000000            NaN
       2          1.875200e+10                     19916000000            NaN
       3          1.621700e+10                     18245000000            NaN
SF.ST  0                   NaN                      3427000000            NaN
       1                   NaN                       899000000            NaN
       2                   NaN                       616000000            NaN
       3                   NaN                       356000000            NaN
VOW.DE 0                   NaN                     25998000000            NaN
       1                   NaN                     24414000000            NaN
       2                   NaN                     27234000000            NaN
       3                   NaN                     26767000000            NaN
NET    0          2.983030e+08                       641584000            NaN
       1          1.894080e+08                       447188000            NaN
       2          1.271440e+08                       303349000            NaN
       3          9.066900e+07                       240876000            NaN

          other_operating_expenses  total_operating_expenses  \
AAPL   0                       NaN              274891000000
       1                       NaN              256868000000
       2                       NaN              208227000000
       3                       NaN              196244000000
SF.ST  0                       NaN                6621000000
       1              8.000000e+06                4909000000
       2              6.000000e+06                3342000000
       3              1.000000e+06                1657000000
VOW.DE 0             -1.463000e+09              230216000000
       1              5.780000e+08              211081000000
       2             -1.320000e+08              233502000000
       3             -1.950000e+08              218034000000
NET    0                       NaN                1172497000
       1                       NaN                 783730000
       2                       NaN                 531548000
       3                       NaN                 394968000

          operating_income  ...  income_before_tax  income_tax_expense  \
AAPL   0      119437000000  ...       119103000000         19300000000
       1      108949000000  ...       109207000000         14527000000
       2       66288000000  ...        67091000000          9680000000
       3       63930000000  ...        65737000000         10481000000
SF.ST  0        1074000000  ...          753000000           206000000
       1        1025000000  ...          793000000           197000000
       2         987000000  ...          799000000           219000000
       3         513000000  ...          453000000           113000000
VOW.DE 0       19984000000  ...        20126000000          4698000000
       1       11803000000  ...        11667000000          2843000000
       2       19130000000  ...        18356000000          4327000000
       3       17815000000  ...        15643000000          3490000000
NET    0        -197256000  ...         -190733000             2648000
       1        -127304000  ...         -247976000            12333000
       2        -100489000  ...         -124973000            -5603000
       3        -107946000  ...         -104713000             1115000

          minority_interest  net_income_from_continuing_ops  \
AAPL   0                NaN                     99803000000
       1                NaN                     94680000000
       2                NaN                     57411000000
       3                NaN                     55256000000
SF.ST  0       6.000000e+06                       547000000
       1       2.300000e+07                       596000000
       2       1.700000e+07                       580000000
       3       1.800000e+07                       340000000
VOW.DE 0       1.705000e+09                     15428000000
       1       1.734000e+09                      8824000000
       2       1.870000e+09                     14029000000
       3       2.250000e+08                     12153000000
NET    0                NaN                      -193381000
       1                NaN                      -260309000
       2                NaN                      -119370000
       3                NaN                      -105828000

          discontinued_operations  extraordinary_items  \
AAPL   0                      NaN                  NaN
       1                      NaN                  NaN
       2                      NaN                  NaN
       3                      NaN                  NaN
SF.ST  0                      NaN                  NaN
       1                      NaN                  NaN
       2                      NaN                  NaN
       3                      NaN                  NaN
VOW.DE 0                      NaN                  NaN
       1                      NaN                  NaN
       2                      NaN                  NaN
       3                      NaN                  NaN
NET    0                      NaN                  NaN
       1                      NaN                  NaN
       2                      NaN                  NaN
       3                      NaN                  NaN

          effect_of_accounting_charges  other_items   net_income  \
AAPL   0                           NaN          NaN  99803000000
       1                           NaN          NaN  94680000000
       2                           NaN          NaN  57411000000
       3                           NaN          NaN  55256000000
SF.ST  0                           NaN          NaN    559000000
       1                           NaN          NaN    590000000
       2                           NaN          NaN    580000000
       3                           NaN          NaN    338000000
VOW.DE 0                           NaN          NaN  15382000000
       1                           NaN          NaN   8867000000
       2                           NaN          NaN  13886000000
       3                           NaN          NaN  12136000000
NET    0                           NaN          NaN   -193381000
       1                           NaN          NaN   -260309000
       2                           NaN          NaN   -119370000
       3                           NaN          NaN   -105828000

          net_income_applicable_to_common_shares
AAPL   0                             99803000000
       1                             94680000000
       2                             57411000000
       3                             55256000000
SF.ST  0                               559000000
       1                               590000000
       2                               580000000
       3                               338000000
VOW.DE 0                             14843000000
       1                              8334000000
       2                             13346000000
       3                             11827000000
NET    0                              -193381000
       1                              -260309000
       2                              -119370000
       3                              -105828000

[16 rows x 23 columns]

In [18]:
pd.concat(await qs.earnings_history_async())

          eps_actual  eps_estimate  eps_difference  surprise_percent  \
AAPL   0        1.52          1.43            0.09             0.063
       1        1.20          1.16            0.04             0.034
       2        1.29          1.27            0.02             0.016
       3        1.88          1.94           -0.06            -0.031
SF.ST  0        0.93          0.55            0.38             0.691
       1        0.71          0.70            0.01             0.014
       2        0.69          0.66            0.03             0.045
       3        1.22          0.68            0.54             0.794
VOW.DE 0         NaN           NaN             NaN               NaN
       1         NaN           NaN             NaN               NaN
       2        5.51          4.09            1.42             0.347
       3        7.93         11.90           -3.97            -0.334
NET    0        0.01          0.00            0.01               NaN
       1        0.00          0.00            0.00               NaN
       2        0.06          0.00            0.06               NaN
       3        0.06          0.04            0.02             0.500

            quarter period
AAPL   0 2022-03-31    -4q
       1 2022-06-30    -3q
       2 2022-09-30    -2q
       3 2022-12-31    -1q
SF.ST  0 2022-03-31    -4q
       1 2022-06-30    -3q
       2 2022-09-30    -2q
       3 2022-12-31    -1q
VOW.DE 0        NaT    -4q
       1        NaT    -3q
       2 2021-09-30    -2q
       3 2021-12-31    -1q
NET    0 2022-03-31    -4q
       1 2022-06-30    -3q
       2 2022-09-30    -2q
       3 2022-12-31    -1q

## 3. Symbol Search

In [19]:
from yfin.symbols import search, search_async, lookup_search, lookup_async

#### Classic symbol search

Yahoo fincane offers two different symbol search endpoints which are available in yFin in the the function `search` (or its async equivalent `search_async`).

By using the parameter `search_assist` one can switch between the two endpoints, whereas `search_assist=1` uses the endpoint, which is used in the search bar on [finance.yahoo.com](finance.yahoo.com).
The search query can be an asset name, or its symbol. Results are limited to 6 and 10 for `search_assist=1` and `search_assist=2`, respectively.

In [20]:
search("Volkswagen", search_assist=1) # search_assist=1 is the default

100%|██████████| 1/1 [00:00<00:00,  4.02it/s]

,query,symbol,name,exchange,exchange_name,type,prevName,nameChangeDate,prevTicker,tickerChangeDate
0,Volkswagen,VOW3.DE,Volkswagen AG,GER,XETRA,equity,nan,nan,nan,nan
1,Volkswagen,VWAGY,Volkswagen AG,PNK,OTC Markets,equity,nan,nan,nan,nan
2,Volkswagen,VWAPY,Volkswagen AG,PNK,OTC Markets,equity,nan,nan,nan,nan
3,Volkswagen,VOW.DE,Volkswagen AG,GER,XETRA,equity,nan,nan,nan,nan
4,Volkswagen,VLKPF,Volkswagen AG,PNK,OTC Markets,equity,nan,nan,nan,nan
5,Volkswagen,VLKAF,Volkswagen AG,PNK,OTC Markets,equity,nan,nan,nan,nan
6,Volkswagen,VOW3.F,Volkswagen AG,FRA,Frankfurt,equity,nan,nan,nan,nan

In [32]:
search("Volkswagen", search_assist=2)

100%|██████████| 1/1 [00:00<00:00,  3.62it/s]

,query,symbol,name,exchange,exchange_name,type
0,Volkswagen,VOWB.SG,Volkswagen AG (ADRs),STU,Stuttgart,equity
1,Volkswagen,VWAGY,Volkswagen AG,PNK,OTC Markets,equity
2,Volkswagen,VWAPY,Volkswagen AG,PNK,OTC Markets,equity
3,Volkswagen,VLKAF,Volkswagen AG,PNK,OTC Markets,equity
4,Volkswagen,VLKPF,Volkswagen AG,PNK,OTC Markets,equity
5,Volkswagen,VOW3.DE,Volkswagen AG,GER,XETRA,equity
6,Volkswagen,VOW.DE,Volkswagen AG,GER,XETRA,equity
7,Volkswagen,VOWG-U.TI,Volkswagen AG,TLO,TLX Exchange,equity
8,Volkswagen,SVW3.L,GraniteShares 3x Short Volkswagen Daily ETC,LSE,London,equity
9,Volkswagen,VOW.F,Volkswagen AG,FRA,Frankfurt,equity

#### Lookup symbol search

Additionally, a lookup endpoint is included in yFin, which can also be used for searching symbols. This endpoints gives up to 10000 results for a search query, but is less accurate than the classic symbol search functions. It is also possible to search for (a) specific asset type(s) and most important, it seems that there isn´t any rate limiting for this endpoint. 

Therefore this function is especially useful to get (nearly) all available symbols for (a) specific asset type(s). :-)  This is exactly what I am doing in my other yahoo finance related python module [yahoo symbols](https://github.com/legout/yahoo-symbols).

In [31]:
lookup_search("btc", type_="cryptocurrency")

100%|██████████| 1/1 [00:00<00:00,  5.27it/s]

            symbol             name            type exchange
0          ETH-BTC     Ethereum BTC  cryptocurrency      CCC
1         AION-BTC         Aion BTC  cryptocurrency      CCC
2        BTCUP-USD        BTCUP USD  cryptocurrency      CCC
3          FIL-BTC     Filecoin BTC  cryptocurrency      CCC
4          XRP-BTC          XRP BTC  cryptocurrency      CCC
..             ...              ...             ...      ...
397        TNS-BTC  Transcodium BTC  cryptocurrency      CCC
398   SONO5420-BTC     SonoCoin BTC  cryptocurrency      CCC
399  GHOST5475-BTC   GHOSTPRISM BTC  cryptocurrency      CCC
400       TRTL-BTC   TurtleCoin BTC  cryptocurrency      CCC
401    CMT2246-BTC   CyberMiles BTC  cryptocurrency      CCC

[402 rows x 4 columns]